* {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.slot {
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 10px;
    box-shadow: 0 0 30px #ccc;
    box-sizing: border-box;
}
.hole {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
}
.player1 .hole {
    background-color: red;
    animation-name: fall-animation;
    animation-duration: 500ms;
}
.player2 .hole {
    background-color: yellow;
    animation-name: fall-animation;
    animation-duration: 500ms;
}
@keyframes fall-animation {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}
