* {
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: 70px 1fr 30px;
    min-height: 100vh;
    width: 100%;
}

header {
    background-color: orange;
    width: 100%;
}
.main {
    width: 100%;
}
footer {
    background-color: pink;
    width: 100%;
}
