* {
    margin: 0;
}
#box {
    height: 25px;
    border-bottom: 1px solid black;
    position: absolute;
    left: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: palegreen;
}
a {
    margin-right: 10px;
    font-family: monospace;
    text-decoration: none;
    color:black;
}
