* {
    box-sizing: border-box;
}

#head {
    width: 200px;
    height: 200px;
    border: 5px tomato solid;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    text-align: center;
    line-height: 40px;
}

.arms {
    position: absolute;
    top: 150px;
    width: 5px;
    height: 220px;
    background: tomato;
}

#arm1 {
    transform: rotate(-45deg);
    transform-origin: right;
    left: 50%;
}

#arm2 {
    transform: rotate(45deg);
    transform-origin: left;
    left: 61%;
}

#trunk {
    position: absolute;
    width: 8px;
    height: 300px;
    background: tomato;
    top: 200px;
    left: 55%;
    margin-left: 10px;
}

.legs {
    position: absolute;
    top: 460px;
    width: 5px;
    height: 250px;
    background: tomato;
}
#leg2 {
    left: 62%;
    transform: rotate(-45deg);
    transform-origin: right;
}
#leg1 {
    left: 49%;
    transform: rotate(45deg);
    transform-origin: right;
}
