* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -15px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper:after {
    content: "";
    display: block;
    height: 15px; /* the footer's total height */
}
header {
    padding: 10px;
    height: 100px;
}
#logo {
    position: absolute;
    display: inline-block;
    margin: 20px;
}
#logoimg {
    height: 60px;
}
#menuimg {
    height: 50px;
    width: 50px;
}
#menubutton {
    display: inline-block;
    position: absolute;
    height: 45px;
    top: 30px;
    left: 90%;
}
#hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-1000%);
}
.menu a {
    text-decoration: none;
    color: black;
}
ul {
    margin-top: 50px;
    padding: 0;
    list-style: none;
    display: block;
    height: 50px;
    z-index: 2;
    position: relative;
}
ul li {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
.menu-on #hamburger-menu {
    transform: translateX(0);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: white;
    width: 300px;
    height: 100%;
}

.menu-on .menu {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.closebutton {
    position: absolute;
    top: 20px;
    right: 20px;
}
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    font-family: "Georgia";
    font-size: 20px;
    font-style: italic;
    color: white;
    background-image: url(assets/reichstag.jpg);
    background-size: cover;
    background-position: center;
}
#bannercontent {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
button {
    width: 250px;
    height: 40px;
    color: #ca6d0a;
    font-family: "sans-serif";
    font-size: 25px;
    text-align: center;
    border: 3px solid #ca6d0a;
    border-radius: 50px;
    background-color: #d4b918;
}

h2 {
    color: white;
    padding: 5px;
}
.items {
    padding: 5px;
    background-color: silver;
}
.row {
    font-family: "Georgia";
    font-size: 15px;
    margin-left: 15%;
    width: 85%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: left;
}
h3 {
    margin-bottom: 0;
}
p {
    line-height: 1;
    margin-top: 0;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.icons {
    margin-top: 30px;
    height: 50px;
    width: 50px;
    float: left;
}
.footer {
    height: 15px;
}

#footer-content {
    background-color: grey;
    color: white;
    height: 15px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 17px;
    line-height: 0.5;
}

@media screen and (max-width: 700px) {
    header {
        height: 75px;
    }
    .menu {
        width: 250px;
    }
    #menubutton {
        left: 80%;
        top: 20px;
    }
    #menuimg {
        height: 50px;
        width: 35px;
    }
    #logoimg {
        height: 40px;
    }

    #logo {
        margin: 15px;
    }

    .banner {
        height: 200px;
        font-size: 12px;
    }

    #bannercontent {
        top: 40%;
        width: inherit;
    }
    button {
        width: 125px;
        height: 25px;
        font-size: 15px;
    }
    .column {
        float: none;
        width: 100%;
        display: block;
    }
    h3 {
        font-size: 17px;
    }
    .icons {
        margin-top: 40px;
        margin-right: 15px;
        margin-bottom: 15px;
        height: 50px;
        width: 50px;
        float: left;
    }
}
