{{#each projectlist}}
   <div class="project">
     <a href="/projects/{{dir}}">
       <figure>
           <img src="/{{dir}}/projimg.png" alt="">
           <figcaption>{{title}}</figcaption>
       </figure>
   </a>
   </div>
{{/each}}
